<h1>list</h1>

<div id="list">
    {{#each promoters}}
    <ul>
        <li>{{this.first_name}}</li>
        <li>{{this.city}}</li>
        <li>{{this.last_name}}</li>
        <li>{{this.handle}}</li>
        <li>{{this.descriptions}}</li>
        <li>{{this.city}}</li>
        <li>{{this.languages}}</li>
        <li>{{this.phone_number}}</li>
        <li>{{this.email}}</li>
        <li>{{this.instagram}}</li>
    </ul>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Contact
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="create-form">
            <div class="form-group">
                <label>Start date</label>
                <input type="date" id="start_date">
            </div>
                <div class="form-group">
                <label>End date</label>
                <input type="date" id="end_date">
            </div>
              <div class="form-group">
                <label>Number of guests</label>
                <input type="number" id="guests">
            </div>
              <div class="form-group">
                <label>Occasion</label>
                <input type="text" id="occasion">
            </div>
              <div class="form-group">
                <label>Message</label>
                <input type="text" id="message">
            </div>
                <div class="form-group">
                <label>Email</label>
                <input type="email" id="email_client">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="contactPromoter btn btn-primary" type="button" data-id="{{this.id}}">Save changes</button>
      </div>
    </div>
  </div>
</div>
    {{/each}}
</div>
